/* ***VARIABLES*** */

:root {
  --yellow: #fcff6a;
  --light-blue: #bee6ef;
  --purple: #d28eff;
  --orange: #ff955b;
  --green: #69c087;
  --electric-blue: #5878dd;
  --white: #ffffff;
  --black: #000000;
  --warm-grey: #f2f2ed;
  --warm-grey-darker: rgb(218, 218, 213);
  --soft-black: #383839;
  --soft-black-lighter: #454546;
  --main-bg-color: var(--soft-black);
  --strong-bg-color: var(--black);
  --main-fg-color: var(--warm-grey);
  --strong-fg-color: var(--white);
  --link-color: var(--yellow);
  --link-color-visited: var(--yellow);
  --type-text-highlight-color: var(--green);
  --type-course-highlight-color: var(--purple);
  --type-audiovisual-highlight-color: var(--orange);
  --type-tool-highlight-color: var(--electric-blue);
  --font-weight-headings-light: 200;
  --font-weight-headings: 700;
  --font-weight-light: 200;
  --font-weight-medium: 400;
  --font-weight-regular: 300;
  --font-weight-semibold: 600;
  --spacer-unit: 1rem;
}

/* ***FONTS*** */

@font-face {
  font-family: "Aileron";
  src:
    url("/static/fonts/Aileron-Bold.ttf") format("truetype"),
    url("/static/fonts/Aileron-Bold.woff") format("woff"),
    url("/static/fonts/Aileron-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src:
    url("/static/fonts/Aileron-BoldItalic.ttf") format("truetype"),
    url("/static/fonts/Aileron-BoldItalic.woff") format("woff"),
    url("/static/fonts/Aileron-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aileron";
  src:
    url("/static/fonts/Aileron-Thin.ttf") format("truetype"),
    url("/static/fonts/Aileron-Thin.woff") format("woff"),
    url("/static/fonts/Aileron-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src:
    url("/static/fonts/Aileron-ThinItalic.ttf") format("truetype"),
    url("/static/fonts/Aileron-ThinItalic.woff") format("woff"),
    url("/static/fonts/Aileron-ThinItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/WorkSans-Italic-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/WorkSans-Italic-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/WorkSans-Normal-LatinExt.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/static/fonts/WorkSans-Normal-Latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
https://blockworks.jp/emoji/
*/

@font-face {
  font-family: "Emoji Symbols";
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/EmojiSymbols-Regular.woff") format("woff2");
}

/* ***RESETS***/

button,
input,
select,
textarea {
  all: unset;
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  &::placeholder {
    opacity: 1;
    color: inherit;
  }
}

/* ***GLOBAL*** */

/* (Default is smallest (< 600px) breakpoint) */

.emoji {
  margin-left: calc(0.5 * var(--spacer-unit));
  margin-bottom: 2px;
  font-family: "Emoji Symbols";
}

body {
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  font-family: "Work Sans", sans-serif;
  font-weight: var(--font-weight-regular);
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: auto;
  background-color: var(--main-bg-color);
  padding: var(--spacer-unit);
  z-index: 200;
  display: flex;
  gap: calc(1 * var(--spacer-unit));
  flex-direction: column;
  & .logo {
    height: 3rem;
    display: block;
  }
  & svg {
    height: 100%;
    & path {
      fill: var(--main-fg-color);
    }
  }
}

.breadcrumbs {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  & li {
    display: inline;
    &::after {
      content: " > ";
    }
    &:last-child::after {
      content: "";
    }
  }
  & a {
    color: var(--main-fg-color);
    &:visited {
      color: var(--main-fg-color);
    }
  }
}

.container {
  padding-left: var(--spacer-unit);
  padding-right: var(--spacer-unit);
  border-bottom: 1px solid var(--main-fg-color);
}

footer {
  background-color: var(--main-bg-color);
  width: 100%;
  color: var(--main-fg-color);
  box-sizing: border-box;
  padding: calc(2 * var(--spacer-unit));
  & .footer-columns {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacer-unit));
    align-items: left;
    justify-content: space-between;
    & .column {
      & svg {
        height: 5.5rem;
        & path {
          fill: var(--main-fg-color);
        }
      }
      & img {
        height: 5rem;
        width: auto;
      }
    }
  }

  & .copyright-notice {
    text-align: center;
    margin: 0 auto;
    margin-top: calc(2 * var(--spacer-unit));
  }
}

.logo svg {
  height: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

h1 {
  font-family: "Aileron", sans-serif;
  font-weight: var(--font-weight-headings-light);
  font-size: 2rem;
  margin-top: 0;
}

h2 {
  font-family: "Aileron", sans-serif;
  font-weight: var(--font-weight-headings-light);
  font-size: 1.5rem;
  margin-top: 0;
}

h3 {
  font-family: "Aileron", sans-serif;
  font-weight: var(--font-weight-headings-light);
  font-size: 1rem;
  margin-top: 0;
}

a {
  color: var(--link-color);
  &:visited {
    color: var(--link-color-visited);
  }
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer-unit);
  &:last-child {
    margin-bottom: 0;
  }
}

.static-page-content {
  padding-top: var(--spacer-unit);
  padding-bottom: calc(2 * var(--spacer-unit));
  & li {
    margin-bottom: var(--spacer-unit);
  }
  & h2 {
    margin-top: calc(2 * var(--spacer-unit));
    margin-bottom: calc(2 * var(--spacer-unit));
  }
}

.summary-commentary {
  font-style: italic;
  color: var(--warm-grey-darker);
}

.robot-text {
  color: var(--light-blue);
}

.index-hero {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--spacer-unit));
  padding-top: var(--spacer-unit);
  padding-bottom: calc(2 * var(--spacer-unit));
  border-bottom: none !important;

  & .hero-description-column {
    display: flex;
    flex-direction: column;

    & .hero-description {
      font-size: 1.5rem;
    }

    & .stat {
      font-weight: 400;
      &.text {
        color: var(--type-text-highlight-color);
      }
      &.audiovisual {
        color: var(--type-audiovisual-highlight-color);
      }
      &.course {
        color: var(--type-course-highlight-color);
      }
      &.tool {
        color: var(--type-tool-highlight-color);
      }
    }
  }

  & .hero-themes-column {
    grid-auto-rows: 1fr;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacer-unit);
    & .theme {
      width: 100%;
      & a {
        height: 100%;
      }
    }

    & .query-form-container {
      grid-column: 1/-1;
      & .query-form {
        display: flex;
        height: 100%;
        width: 100%;
        border: 1px solid var(--main-fg-color);
        border-radius: 2rem;
        box-sizing: border-box;
        align-items: center;
        &:hover,
        &:focus {
          background-color: var(--warm-grey-darker);
          & input[type="text"] {
            color: var(--strong-bg-color);
            border-bottom: 1px solid var(--strong-bg-color);
            &::placeholder {
              color: var(--strong-bg-color);
            }
          }
        }
        & input::placeholder {
          font-style: italic;
        }
        & input:focus::placeholder {
          color: transparent !important;
        }
        & input[type="text"] {
          flex-grow: 1;
          border-bottom: 1px solid var(--main-fg-color);
          margin-left: var(--spacer-unit);
          margin-right: var(--spacer-unit);
        }

        & .submit-button {
          justify-content: center;
          align-items: center;
          height: 100%;
          display: flex;
          & .emoji {
            margin: 0;
            height: 100%;
          }
          & input[type="submit"] {
            vertical-align: middle;
            text-align: center;
            width: calc(1.5 * var(--spacer-unit));
            height: 100%;
            border-radius: 0 2rem 2rem 0;
            background-color: var(--soft-black);
            padding-left: calc(0.75 * var(--spacer-unit));
            padding-right: var(--spacer-unit);
            margin: 0;
            &:hover,
            &:focus {
              color: var(--main-bg-color);
              background-color: var(--warm-grey-darker);
            }
          }
        }
      }
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--warm-grey-darker);
  color: var(--strong-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 2rem;
  padding: var(--spacer-unit);
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  &:visited {
    color: var(--strong-bg-color);
  }
  &:hover {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    border: 1px solid var(--main-fg-color);
  }
  &.secondary {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    border: 1px solid var(--main-fg-color);
    &:visited {
      color: var(--main-fg-color);
    }
    &:hover {
      color: var(--strong-bg-color);
      border: 1px solid transparent;
      background-color: var(--main-fg-color);
    }
  }
}

.carousel {
  border-bottom: none !important;
  padding-left: 0 var(--spacer-unit) !important;
  padding-right: 0 var(--spacer-unit) !important;
  & h1 {
    text-align: center;
    margin-bottom: calc(2 * var(--spacer-unit));
  }
  & .documents {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behaviour: smooth;
    & .document {
      width: 100%;
    }
  }
}

.carousel-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  border-top: 1px solid var(--main-fg-color);
  border-bottom: 1px solid var(--main-fg-color);
  border-right: 1px solid var(--main-fg-color);
  width: calc(100% - 4 * var(--spacer-unit));
  flex: 0 0 calc(100% - 4 * var(--spacer-unit));
  margin: 0 auto;
  padding: 0;
  gap: calc(1 * var(--spacer-unit));
  &:last-child {
    border-right: none;
  }
  &.text {
    background: var(--main-bg-color);
    background: linear-gradient(
      -35deg,
      var(--main-bg-color) 66%,
      var(--type-text-highlight-color) 100%
    );
  }
  &.audiovisual {
    background: var(--main-bg-color);
    background: linear-gradient(
      -35deg,
      var(--main-bg-color) 66%,
      var(--type-audiovisual-highlight-color) 100%
    );
  }
  &.course {
    background: var(--main-bg-color);
    background: linear-gradient(
      -35deg,
      var(--main-bg-color) 66%,
      var(--type-course-highlight-color) 100%
    );
  }
  &.tool {
    background: var(--main-bg-color);
    background: linear-gradient(
      -35deg,
      var(--main-bg-color) 66%,
      var(--type-tool-highlight-color) 100%
    );
  }
  & .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: var(--spacer-unit);
    & .format {
      display: inline-flex;
      margin-bottom: var(--spacer-unit);
    }

    & .title {
      font-size: 2rem;
      font-weight: var(--font-weight-light);
      font-family: "Aileron";
      margin-bottom: calc(0.25 * var(--spacer-unit));
      & a {
        color: var(--main-fg-color);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .meta {
      margin-bottom: calc(2 * var(--spacer-unit));
    }

    & .tags {
      text-align: left;
      margin-bottom: 0;
      padding-top: calc(2 * var(--spacer-unit));
      & li {
        display: block;
        width: 100%;
        & a {
          width: 100%;
        }
      }
    }
  }
  & .image {
    width: 100%;
    & .image-placeholder {
      border-radius: 0;
    }
  }
}

.document {
  & .theme {
    margin-bottom: var(--spacer-unit);
  }

  & .title {
    display: block;
    vertical-align: bottom;
    padding: 0;
    margin: 0 calc(0.5 * var(--spacer-unit)) var(--spacer-unit)
      calc(0.5 * var(--spacer-unit));
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    &:only-child {
      margin-top: auto;
    }
  }

  & .tags {
    display: flex;
    flex-direction: column;
    gap: calc(0.25 * var(--spacer-unit));
    & li {
      display: block;
      width: 100%;
      min-height: 3rem;
      & a {
        width: 100%;
        height: 100%;
        display: flex;
        line-height: 1rem;
        padding: calc(0.25 * var(--spacer-unit));
      }
    }
  }
}

& .image-link {
  text-decoration: none;
  &:hover .title {
    text-decoration-line: underline;
    text-decoration-color: var(--strong-fg-color);
    text-decoration-thickness: 2px;
  }
}

& .image-placeholder {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2rem;
  position: relative;
  background-color: var(--yellow);
  background-size: cover;
  box-sizing: border-box;
  color: var(--strong-fg-color);

  &.with-image.overlay::after {
    content: "";
    border-radius: 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(1);
  }

  &.with-image.overlay:hover::after {
    backdrop-filter: none;
  }

  &.tool.with-image.overlay::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 20%,
      var(--type-tool-highlight-color) 100%
    );
  }
  &.text.with-image.overlay::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 20%,
      var(--type-text-highlight-color) 100%
    );
  }
  &.audiovisual.with-image.overlay::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 20%,
      var(--type-audiovisual-highlight-color) 100%
    );
  }
  &.course.with-image.overlay::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 20%,
      var(--type-course-highlight-color) 100%
    );
  }

  &.tool.with-image.overlay:hover::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 70%,
      var(--type-tool-highlight-color) 100%
    );
  }
  &.text.with-image.overlay:hover::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 70%,
      var(--type-text-highlight-color) 100%
    );
  }
  &.audiovisual.with-image.overlay:hover::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 70%,
      var(--type-audiovisual-highlight-color) 100%
    );
  }
  &.course.with-image.overlay:hover::after {
    background: linear-gradient(
      -35deg,
      rgba(0, 0, 0, 0.5) 70%,
      var(--type-course-highlight-color) 100%
    );
  }

  &.text {
    background-color: var(--type-text-highlight-color);
  }
  &.audiovisual {
    background-color: var(--type-audiovisual-highlight-color);
  }
  &.course {
    background-color: var(--type-course-highlight-color);
  }
  &.tool {
    background-color: var(--type-tool-highlight-color);
  }
  & .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: var(--spacer-unit);
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 100;
  }
}

& .format {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--strong-fg-color);
  width: auto;
  border-radius: 1rem;
  padding: calc(0.5 * var(--spacer-unit));
  text-align: left;
  box-sizing: border-box;
  border: 1px solid var(--strong-fg-color);
  vertical-align: middle;
  &.colored.text {
    background-color: var(--type-text-highlight-color);
    color: var(--strong-bg-color);
    border-color: var(--strong-bg-color);
  }
  &.colored.audiovisual {
    background-color: var(--type-audiovisual-highlight-color);
    color: var(--strong-bg-color);
    border-color: var(--strong-bg-color);
  }
  &.colored.course {
    background-color: var(--type-course-highlight-color);
    color: var(--strong-bg-color);
    border-color: var(--strong-bg-color);
  }
  &.colored.tool {
    background-color: var(--type-tool-highlight-color);
    color: var(--strong-bg-color);
    border-color: var(--strong-bg-color);
  }
}

.tags {
  list-style-type: none;
  margin: var(--spacer-unit) 0;
  padding: 0;
  & li {
    display: inline-block;
    font-size: 1rem;
    padding: 0;
    line-height: 2rem;
    margin-bottom: var(--spacer-unit);
    & a {
      padding: calc(0.5 * var(--spacer-unit));
      width: auto;
      display: inline-flex;
    }
  }
}

.theme-tag-document-header {
  padding-top: calc(2 * var(--spacer-unit));
  padding-bottom: calc(2 * var(--spacer-unit));

  & .format {
    display: inline-flex;
    margin-bottom: var(--spacer-unit);
  }

  & h1 {
    margin-bottom: 0;
  }
  & h2.theme-tag-document-subhead {
    margin-bottom: calc(0.25 * var(--spacer-unit));
  }
  & .meta {
    margin-top: calc(0.5 * var(--spacer-unit));
  }

  & a {
    text-decoration: none;
    color: var(--main-fg-color);
    &:hover {
      text-decoration: underline;
    }
  }
}

.theme-summary {
  padding-bottom: calc(1 * var(--spacer-unit));
  padding-right: 0 !important;
  background-color: var(--main-bg-color);
  border-bottom: none !important;
}

.theme-layout {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--main-fg-color);
  & .description-column {
    padding-top: calc(1 * var(--spacer-unit));
    width: 100%;
  }

  & .documents-column {
    width: 100%;

    .meta {
      padding-right: calc(2 * var(--spacer-unit));
    }
  }

  & .table .documents {
    margin-bottom: -1px; /* No double border when documents are longer than summary*/
    border-top: 1px solid var(--main-fg-color);
  }
}

.tags-container {
  padding-bottom: 0;

  border-bottom: none !important;

  &.tags-small-breakpoint {
    margin-top: calc(2 * var(--spacer-unit));
  }

  &.tags-large-breakpoint {
    display: none;
  }
}

.grid {
  padding-top: 0;
  padding-bottom: calc(2 * var(--spacer-unit));
  .documents {
    display: grid;
    grid-gap: calc(2 * var(--spacer-unit));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.document-summary {
  padding-top: calc(2 * var(--spacer-unit));
  padding-bottom: calc(2 * var(--spacer-unit));
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--spacer-unit));
  border-bottom: none;
  & .info-column {
    width: 100%;
    & > * {
      display: block;
      margin-bottom: var(--spacer-unit);
      &:last-child {
        margin-bottom: 0;
      }
    }
    & .tags {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-gap: var(--spacer-unit);
      & li {
        margin-bottom: 0;
        & a {
          width: 100%;
          height: 3rem;
          line-height: 1rem;
          &:hover {
            background-color: var(--main-fg-color);
          }
        }
      }
    }
  }
}

.related-resources-container {
  margin-top: 0;
  padding-right: 0 !important;
  padding-left: 0;
  & h2 {
    margin-left: var(--spacer-unit);
    font-size: 1.5rem;
    margin-bottom: calc(2 * var(--spacer-unit));
  }
  & .table {
    border-top: 1px solid var(--main-fg-color);

    & .documents .document {
      &:last-child {
        border-bottom: 0;
      }

      .meta {
        text-align: right;
        padding-right: var(--spacer-unit);
      }
    }
  }
}

.table .documents {
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
  grid-auto-rows: 1fr;
  align-items: stretch;
  & .document {
    border-bottom: 1px solid var(--main-fg-color);
    display: grid;
    grid-column: 1/-1;
    gap: var(--spacer-unit);
    grid-template-columns: subgrid;
    &.focused {
      background-color: var(--soft-black-lighter);
    }
    & > * {
      padding-top: calc(1 * var(--spacer-unit));
      padding-bottom: calc(1 * var(--spacer-unit));
    }
    & a {
      color: var(--main-fg-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    & .title {
      font-size: 1rem;
      margin-left: 0;
    }
    & .theme {
      margin-bottom: calc(0 * var(--spacer-unit));
    }
    .meta {
      font-size: 0.8rem;
    }

    & .format {
      display: grid;
      width: auto;
      border: none;
      justify-content: left;
      border-radius: 0;
      text-align: left;
      padding-right: var(--spacer-unit);
      padding-left: var(--spacer-unit);
      color: var(--strong-bg-color) !important;
      /*
       &.text {
         background: var(--main-bg-color);
         background: linear-gradient(
         -90deg,
         var(--main-bg-color) 0%,
         var(--type-text-highlight-color) 90%
         );
       }
       &.audiovisual {
         background: var(--main-bg-color);
         background: linear-gradient(
         -90deg,
         var(--main-bg-color) 0%,
         var(--type-audiovisual-highlight-color) 90%
         );
       }
       &.course {
         background: var(--main-bg-color);
         background: linear-gradient(
         -90deg,
         var(--main-bg-color) 0%,
         var(--type-course-highlight-color) 90%
         );
       }
       &.tool {
         background: var(--main-bg-color);
         background: linear-gradient(
         -90deg,
         var(--main-bg-color) 0%,
         var(--type-tool-highlight-color) 90%
         );
       }
       */
    }
  }
}

/* ***LARGER BREAKPOINTS ***/

/* Small: phones landscape, small tablets portrait */
@media (min-width: 600px) {
  header {
    flex-direction: row;
    align-items: end;
    & > * {
      margin-bottom: 0.4rem; /* Align with baseline of text in logo svg */
    }
    & .logo {
      margin-bottom: 0;
    }
  }

  .index-hero {
    & .hero-themes-column {
      grid-template-columns: 1fr 1fr;
    }
  }

  .carousel {
    & h1 {
      margin-bottom: calc(3 * var(--spacer-unit));
    }
  }

  .carousel-item {
    flex-direction: row;
    padding: calc(2 * var(--spacer-unit));
    gap: calc(2 * var(--spacer-unit));
    width: calc(100% - 8 * var(--spacer-unit));
    flex: 0 0 calc(100% - 8 * var(--spacer-unit));
    & .details {
      width: 66%;
      padding: 0;
      & .tags {
        & li {
          display: inline-block;
          width: auto;
          margin-bottom: 0;
          & a {
            width: auto;
          }
        }
      }
    }

    & .image {
      width: 33%;
      & .image-placeholder {
        border-radius: 2rem;
      }
    }
  }
  .grid .documents {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .document-summary {
    & .info-column {
      & .tags {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}

/* Medium: Small tablets landscape, smaller desktop windows */
@media (min-width: 900px) {
  body {
    font-size: 18px;
  }

  .container {
    padding-left: calc(2 * var(--spacer-unit));
    padding-right: calc(2 * var(--spacer-unit));
  }

  .related-resources-container {
    & h2 {
      margin-left: 0;
    }

    & .table .documents .document .meta {
      padding-right: calc(2 * var(--spacer-unit));
    }
  }

  header {
    padding: var(--spacer-unit) calc(2 * var(--spacer-unit));
    gap: calc(2 * var(--spacer-unit));
  }

  footer {
    padding: calc(2 * var(--spacer-unit)) calc(11 * var(--spacer-unit));
    & .footer-columns {
      flex-direction: row;
      align-items: center;
      gap: calc(2 * var(--spacer-unit));
      & .column {
        & svg {
          height: 3.5rem;
        }
        & img {
          height: 3.5rem;
        }
      }
    }
  }

  .static-page-content {
    width: 50%;
  }

  .index-hero {
    flex-direction: row;
    justify-content: space-between;
    gap: calc(3 * var(--spacer-unit));
    padding-top: calc(3 * var(--spacer-unit));
    padding-bottom: calc(3 * var(--spacer-unit));
    & .hero-description-column {
      width: 50%;
      flex-direction: column;

      & .hero-description {
        margin-top: var(--spacer-unit);
      }

      & .hero-prompts {
        margin-top: 0;
      }
    }
    & .hero-themes-column {
      width: 50%;
    }
  }

  .carousel-item {
    width: calc(100% - 16 * var(--spacer-unit));
    flex: 0 0 calc(100% - 16 * var(--spacer-unit));
  }

  .grid .documents {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .theme-layout {
    flex-direction: row;
    gap: calc(2 * var(--spacer-unit));

    & .description-column {
      width: 50%;
    }

    & .documents-column {
      width: 50%;
      & .table .documents {
        border-top: none;
      }
    }
  }

  .tags-container {
    &.tags-small-breakpoint {
      display: none;
    }
    &.tags-large-breakpoint {
      display: block;
    }
  }

  .document-summary {
    flex-direction: row;
    & .info-column {
      width: 33%;
      & .tags {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    & .summary-column {
      width: 66%;
    }
  }
}
/* Large: Small desktop, full screen */
@media (min-width: 1200px) {
  footer {
    & .footer-columns {
      & .column {
        & svg {
          height: 5.5rem;
        }
        & img {
          height: 5rem;
        }
      }
    }
  }
  .document {
    & .tags {
      flex-direction: row;
      & li {
        width: 33%;
      }
    }
  }

  .table .documents .document {
    & h3.title {
      font-size: 1.5rem;
    }

    .meta {
      font-size: 1rem;
    }
  }

  .grid .documents {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .document-summary {
    & .info-column {
      width: 25%;
    }
    & .summary-column {
      width: 75%;
    }
  }
}
/* Extra large: High-res desktop, nearly full screen */
@media (min-width: 1800px) {
  .container {
    padding-left: calc(11 * var(--spacer-unit));
    padding-right: calc(11 * var(--spacer-unit));
  }

  .related-resources-container .table .documents .document .meta {
    padding-right: calc(11 * var(--spacer-unit));
  }

  .document-summary {
    & .info-column {
      & .tags {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}
