FLASK_DEBUG=1
FLASK_CONFIG=development
REDIS_URL=redis://redis:6379/0
REDIS_CACHE_TIMEOUT=60
REDIS_CACHE_PREFIX="airtable"
ELASTICSEARCH_KV_INDEX="ddhub-prototype-kv"
ELASTICSEARCH_NODE_INDEX="ddhub-prototype-nodes"
ELASTICSEARCH_REF_DOC_INDEX="ddhub-prototype-ref-docs"
ELASTICSEARCH_METADATA_INDEX="ddhub-prototype-metadata"
ELASTICSEARCH_EMBEDDINGS_INDEX="ddhub-prototype-embeddings"
ELASTICSEARCH_URL="http://elasticsearch:9200/"
FETCHER_USER_AGENT="FablabBCN-DDLH-indexer/0.0.0"
CELERY_BROKER_URL=$REDIS_URL
CELERY_RESULT_BACKEND=$REDIS_URL
SECRET_KEY=super_secret_key_here
MISTRAL_API_KEY=your_mistral_api_key_here
AIRTABLE_TOKEN=your_airtable_token_here
AIRTABLE_BASE_ID=your_airtable_base_id_here
AIRTABLE_DOCUMENTS_TABLE_ID=your_airtable_table_id_here
AIRTABLE_THEMES_TABLE_ID=your_airtable_table_id_here
AIRTABLE_FORMATS_TABLE_ID=your_airtable_table_id_here
AIRTABLE_FEATURED_DOCUMENTS_TABLE_ID=your_airtable_table_id_here
AIRTABLE_THEMES_VIEW_ID=your_airtable_view_id_here
AIRTABLE_FEATURED_DOCUMENTS_VIEW_ID=your_airtable_view_id_here
OPENAI_API_KEY="None" #This needs to be set as llama_index brings in the openai client as a dependency, and if we don't have an API key set, it errors on boot.
