FLASK_DEBUG=1
FLASK_CONFIG=development
DATABASE_URL=postgresql://ddhub_prototype:ddhub_prototype@db/ddhub_prototype
SECRET_KEY=super_secret_key_here
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
