FLASK_DEBUG=1
FLASK_CONFIG=development
DATABASE_URL=postgresql://ddhub_prototype:ddhub_prototype@db/ddhub_prototype
REDIS_URL=redis://redis:6379/0
SECRET_KEY=super_secret_key_here
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
AIRTABLE_TOKEN=your_airtable_token_here
AIRTABLE_BASE_ID=your_airtable_base_id_here
AIRTABLE_DOCUMENTS_TABLE_ID=your_airtable_table_id_here
AIRTABLE_THEMES_TABLE_ID=your_airtable_table_id_here
REDIS_CACHE_TIMEOUT=60
REDIS_CACHE_PREFIX="airtable"
