{% extends "layouts/main.j2" %}
{% block main %}
    {% include "partials/index_hero.j2" %}
    {% with headline="This Learning Hub is a collection of projects, tools, methods and learning resources" %}
        {% include "partials/carousel.j2" %}
    {% endwith %}
{% endblock main %}
