<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description"
              content="The Distributed Design Learning Hub aims to..." />
        <meta name="keywords" content="distributed, design, learning, hub">
        <link rel="stylesheet"
              type="text/css"
              media="all"
              href="{{ url_for("static", filename="styles.css") }}">
        <title>{{ breadcrumbs|page_title_from_breadcrumbs }}</title>
    </head>
    <body>
        {% include "partials/header.j2" %}
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        {% include "partials/footer.j2" %}
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
                integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
        <script src="https://unpkg.com/swiped-events@1.2.0/dist/swiped-events.min.js"></script>
        <script src="{{ url_for("static", filename="application.js") }}"
                type="text/javascript"></script>
    </body>
</html>
