<div class="carousel-item {{ document.format_type }}">
    <div class="details">
        <h3 class="title">{{ document.title }}</h3>
        <div class="description">
            {% markdown %}
            {{ document.description }}
        {% endmarkdown %}
    </div>
    {% with tags=document.tags %}
        {% include "partials/tags.j2" %}
    {% endwith %}
</div>
<div class="image">
    <a class="image-link"
       href="{{ url_for("document", document_id=document.link|url_to_id) }}">
        {% with show_format=true, show_title=false %}
            {% include "partials/image_placeholder.j2" %}
        {% endwith %}
    </a>
</div>
</div>
