{% with theme=document.themes | get_first %}
    {% if theme %}
        <div class="document">
            {% if show_theme and theme %}
                <a class="btn theme" href="{{ url_for("theme", theme_name=theme) }}">{{ theme }}</a>
            {% endif %}
            <a class="image-link"
               href="{{ url_for("document", document_id=document.link|url_to_id) }}">
                <div class="image-placeholder">
                    {% if show_format and document.format %}
                        <div class="format-container">
                            <span class="format">{{ document.format }}</span>
                        </div>
                    {% endif %}
                    <p class="title">{{ document.title }}</p>
                </div>
            </a>
            {% if show_tags %}
                {% with tags=document.tags | get_first(3) %}
                    {% include "partials/tags.j2" %}
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}
{% endwith %}
