<div class="document-summary container">
  <div class="info-column">
    <a class="image-link" href="{{ document.link }}" target="_blank">
      {% with show_format=false, show_title=false %}
      {% include "partials/image_placeholder.j2" %}
      {% endwith %}
    </a>
    <div>
      <a class="btn" href={{ document.link }} target="_blank">Go to document <span class="emoji">🔗</span></a>
    </div>
    {% with tags=document.tags %}
    {% include "partials/tags.j2" %}
    {% endwith %}
  </div>
  <div class="summary-column">
    {% markdown %}
    {{ document.description }}
    {% endmarkdown %}
  </div>
</div>
