{% with theme=document.themes | get_first %}
    {% if theme %}
        <div class="document">
            <a class="btn theme" href="?theme={{ theme | urlencode }}">{{ theme }}</a>
            <div class="image-placeholder">
                <p class="title">{{ document.title }}</p>
            </div>
            <ul class="tags">
                {% with tags=document.tags | get_first(3) %}
                    {% for tag in tags %}
                        <li>
                            <a class="btn secondary" href="?tag={{ tag|urlencode }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
