<footer>
    <div class="footer-columns">
        <div class="dd-logo column">{% include "partials/logo.j2" %}</div>
        <div class="address column">
            Pujades, 102 08005 Barcelona, Spain
            <br />
            933 20 95 20 / 933 45 43 2
            <br />
            <a href="mailto:info@distributeddesign.eu">info@distributeddeign.eu</a>
        </div>
        <div class="sponsorship column">
            Distributed Design Platform’s
            <br />
            Open Calls follow these guidelines
            <br />
            by the EU commission.
        </div>
        <div class="eu-logo column">
            <img src="{{ url_for("static", filename="images/eu_logo.png") }}" alt="" width="254" height="80" />
        </div>
    </div>
    <div class="copyright-notice">© 2024 Distributed Design. All Rights Reserved.</div>
</footer>
