<div class="grid container">
    <div class="documents">
        {% for document in documents %}
            {% with show_format=True %}
                {% include "partials/grid_document.j2" %}
            {% endwith %}
        {% endfor %}
    </div>
</div>
