<div class="image-placeholder {{ document|document_css_classes }} {% if show_format and document.format or show_title -%}overlay{% endif -%}"
     style="background-image: url('{{ document.image_url }}')">
    <div class="inner">
        {% if show_format and document.format %}
            <div class="format-container">
                <span class="format">{{ document.format }}</span>
            </div>
        {% endif %}
        {% if show_title %}<p class="title">{{ document.title }}</p>{% endif %}
    </div>
</div>
