{% extends "layouts/main.j2" %}
{% block main %}
    {% include "partials/format_header.j2" %}
    {% with with_theme=true %}
        {% include "partials/table.j2" %}
    {% endwith %}
{% endblock main %}
