{% extends "layouts/main.j2" %}
{% block main %}
    {% include "partials/index_hero.j2" %}
    {% with headline="Browse curated highlights from our collection" %}
        {% include "partials/carousel.j2" %}
    {% endwith %}
{% endblock main %}
