<div class="carousel container">
    <h1>{{ headline }}</h1>
    <div class="carousel-inner">
        <div class="carousel-shadow left"></div>
        <div class="documents">
            {% for document in documents %}
                {% with show_tags=True, show_theme=True %}
                    {% include "partials/carousel_item.j2" %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="carousel-shadow right"></div>
    </div>
</div>
