<div class="carousel container">
    <h1>{{ headline }}</h1>
    <div class="carousel-inner">
        <a class="carousel-shadow left" href="#">
            <span class="carousel-arrow left">{% include "partials/carousel_arrow.j2" %}</span>
        </a>
        <div class="documents">
            {% for document in documents %}
                {% with show_tags=True, show_theme=True %}
                    {% include "partials/carousel_item.j2" %}
                {% endwith %}
            {% endfor %}
        </div>
        <a class="carousel-shadow right" href="#">
            <span class="carousel-arrow right">{% include "partials/carousel_arrow.j2" %}</span>
        </a>
    </div>
</div>
