<div class="cookie-banner">
    <div class="cookie-blurb">
        <p>
            Please can we set a Google Analytics cookie to better understand how our community uses the Learning Hub? All the data we gather is anonymous.
        </p>
    </div>
    <div class="cookie-buttons">
        <a class="btn secondary accept" href="#">Yes, that's fine!</a>
        <a class="btn secondary reject" href="#">No, thank you.</a>
    </div>
</div>
