<header>
    {% include "partials/logo.j2" %}
    <div class="menu-hamburger">
        <label for="hamburger-menu">☰</label>
        <input type="checkbox" id="hamburger-menu" />
    </div>
    {% include "partials/breadcrumbs.j2" %}
    <nav class="menu-links">
        <a target="_blank" href="https://distributeddesign.eu/about/">About</a>
        <a target="_blank" href="https://distributeddesign.eu/contact/">Contact</a>
        <a href="#">Community</a>
    </nav>
</header>
