<div class="index-hero container">
    <div class="hero-description-column">
        <h1>The Distributed Design Platform Learning Hub</h1>
        <p class="hero-description">
            Designing for <em>circular</em>, <em>resilient</em>, <em>collaborative</em>, and <em>just</em> futures is complex. The Learning Hub is collaboratively developed with the Distributed Design Platform community and has more than
            <span class="stat"><span class="n">{{ stats.total_documents }}</span>&nbsp;resources</span>
            that explain
            <span class="stat"><span class="n">{{ stats.total_themes }}</span>&nbsp;thematic areas of design</span>
            that aim to support your design practice. The {{ stats.total_documents }} resources contain
            <span class="stat text"><a href="{{ url_for("format", format="text") }}"><span class="n">{{ stats.total_text_format }}</span>&nbsp;publications, papers & reports</a></span>,
            <span class="stat audiovisual"><a href="{{ url_for("format", format="audiovisual") }}"><span class="n">{{ stats.total_audiovisual_format }}</span>&nbsp;masterclasses, documentaries & podcasts</a></span>,
            <span class="stat tool"><a href="{{ url_for("format", format="tool") }}"><span class="n">{{ stats.total_tool_format }}</span>&nbsp;toolkits, methods & frameworks</a></span>, and
            <span class="stat course"><a href="{{ url_for("format", format="course") }}"><span class="n">{{ stats.total_course_format }}</span>&nbsp;interactive learning resources</a></span>
            from more than
            <span class="stat"><span class="n">{{ stats.total_unique_authors }}</span>&nbsp;different authors</span>.
        </p>
        <p class="hero-description">
            Choose a <span class="theme-hint">thematic area</span> from the list to get started, or search for your own <span class="search-hint">area of interest</span>.
        </p>
    </div>
    <div class="hero-themes-column">
        {% for theme in themes %}
            <div class="theme">
                <a class="btn" href="{{ url_for("theme", theme_name=theme) }}">{{ theme }}</a>
            </div>
        {% endfor %}
        <div class="query-form-container">
            <form action="{{ url_for("query") }}" class="query-form" method="get">
                <input type="text"
                       name="query"
                       placeholder="Or any other theme or topic..."
                       required />
                <div class="submit-button">
                    <span class="emoji">
                        <input type="submit"
                               name="Submit"
                               aria-label="Create a personalised theme page"
                               value="➕" />
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
