<div class="index-hero container">
    <div class="hero-description-column">
        <h1>The Distributed Design Platform Learning Hub</h1>
        <p class="hero-description">
            Designing for <em>circular</em>, <em>resilient</em>, <em>collaborative</em>, and <em>just</em> futures is complex. The Learning Hub is collaboratively developed with the Distributed Design Platform community and has more than
            <span class="stat"><span class="n">{{ stats.total_documents }}</span>&nbsp;resources</span>
            that explain
            <span class="stat"><span class="n">{{ stats.total_themes }}</span>&nbsp;thematic areas of design</span>
            that aim to support your design practice. The {{ stats.total_documents }} resources contain
            <span class="stat text"><span class="n">{{ stats.total_text_format }}</span>&nbsp;publications, papers & reports</span>,
            <span class="stat audiovisual"><span class="n">{{ stats.total_audiovisual_format }}</span>&nbsp;masterclasses, documentaries & podcasts</span>,
            <span class="stat tool"><span class="n">{{ stats.total_tool_format }}</span>&nbsp;toolkits, methods & frameworks</span>, and
            <span class="stat course"><span class="n">{{ stats.total_course_format }}</span>&nbsp;interactive learning resources</span>
            from more than
            <span class="stat"><span class="n">{{ stats.total_unique_authors }}</span>&nbsp;different authors</span>.
        </p>
    </div>
    <div class="hero-themes-column">
        {% for theme in themes %}
            <div class="theme">
                <a class="btn" href="{{ url_for("theme", theme_name=theme) }}">{{ theme }}</a>
            </div>
        {% endfor %}
    </div>
</div>
