<figure>
    <a href="https://www.zsi.at/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/ZSI_Centre-for-Social-Innovation_Logo.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://globalinnovationgathering.org/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/cropped-gig-logo-1.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://www.fashionrevolutiongermany.de/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/FashionRevolutionGermany.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://www.opendotlab.it/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/logo_opendot.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://publiclibraries2030.eu/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/PL2030_logo_black.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://makerua.org/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/UMA_logo.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://europeancraftsalliance.org/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/EuropeanCraftsAlliance.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://fab.city/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/fab-city-logo-300x300.png") }}" alt="">
    </a>
</figure>
<figure>
    <a href="https://iaac.net/" target="_blank">
        <img src="{{ url_for("static", filename="images/partner_logos/FLB-IAAC-300x89.png") }}" alt="">
    </a>
</figure>
