<div class="document {{ document|document_css_classes }} document-{{ document.id }}">
    <div class="format colored {{ document |document_css_classes }}">{{ document.format }}</div>
    <div class="title-container">
        {% with theme=document.themes|get_first %}
            {% if with_theme and theme %}
                <p class="theme">
                    <a href="{{ url_for("theme", theme_name=theme) }}">{{ theme }}</a>:
                </p>
            {% endif %}
        {% endwith %}
        <h3 class="title">
            <a href="{{ url_for("document", document_id=document.link|url_to_id) }}">{{ document.title }}</a>
        </h3>
    </div>
    <div class="meta">
        <p>
            <strong>From:</strong> {{ document.author }}
        </p>
    </div>
</div>
