<div id="theme-summary-container"
     class="theme-summary container"
     data-query-task-id="{{ query_task_id }}">
    {% if theme.summary %}
        {% markdown %}
        {{ theme.summary }}
    {% endmarkdown %}
{% endif %}
{% if query_summary %}{{ query_summary }}{% endif %}
{% if wait_message %}
    <p class="wait-mesage">
        <span class="robot-text"> <span class="emoji">✨</span> Please wait while we generate a summary<span class="type-it">...</span></span>
    </p>
{% endif %}
</div>
