<div id="theme-summary-container"
     class="theme-summary container"
     data-query-task-id="{{ query_task_id }}">
    {% markdown %}
    {{ theme.summary }}
{% endmarkdown %}
{{ query_summary }}
</div>
