<div id="theme-summary-container"
     class="theme-summary container"
     data-query-task-id="{{ query_task_id }}">
    {% if theme.summary %}
        {% markdown %}
        {{ theme.summary }}
    {% endmarkdown %}
{% endif %}
{% if query_summary %}{{ query_summary }}{% endif %}
</div>
