<div class="document">
  <h2>
    <a href="{{ document.link }}" target="_blank">{{ document.title }}</a>
  </h2>
  <p><em>{{ document.author }}</em></p>
  <p>{{ document.topic }}</p>
  <p>{{ document.description }}</p>
  <h3>Themes:</h3>
  <ul>
  {% for theme in document.themes %}
    <li>{{ theme }}</li>
  {% endfor %}
  </ul>
  <h3>Tags:</h3>
  <ul>
  {% for tag in document.tags %}
    <li>{{ tag }}</li>
  {% endfor %}
  </ul>
</div>
